.trackLoader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 40;
  display: flex;
  justify-content: center;
  align-items: center;

  &__infos {
    color: #fff;
    width: 310px;
    height: 310px;
    border: rgba(255, 255, 255, 0.5) 2px solid;
    box-sizing: border-box;
    border-radius: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background: #000;
      z-index: 5;
      border-radius: 100%;
    }
  }

  &__track {
    font-family: $titleFont;
    font-size: 34rem;
    text-transform: capitalize;
    z-index: 10;
  }

  &__place {
    font-size: 16rem;
    font-weight: 300;
    font-style: italic;
    z-index: 10;

    &::before {
      content: "";
      width: 60px;
      height: 1px;
      background: #fff;
      display: block;
      margin: 4px auto 8px auto;
    }
  }

  &__loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
    border-radius: 100%;
    transform: scale(1.01);
    overflow: hidden;

    &__progress {
      width: 0%;
      height: 100%;
      background: #fff;
      transition: width 0.4s linear;
    }
  }

  &__message {
    margin-top: 64px;
    text-align: center;
    color: #999;
    font-size: 14rem;
    animation-name: loading;
    animation-duration: 2s;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }

  &__content {
    width: 0px;
    height: 0px;
    overflow: hidden;
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 500px) {
  .trackLoader {
    &__infos {
      width: 338px;
      height: 338px;
    }

    &__track {
      font-size: 40rem;
    }

    &__place {
      font-size: 20rem;
    }
  }
}
