.trackOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.5);
  z-index: 40;
  display: flex;
  justify-content: center;
  align-items: center;

  &__infos {
    color: #fff;
    width: 338px;
    height: 338px;
    border: #fff 2px solid;
    box-sizing: border-box;
    border-radius: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__track {
    font-family: $titleFont;
    font-size: 40rem;
    text-transform: capitalize;
  }

  &__place {
    font-size: 20rem;
    font-weight: 300;
    font-style: italic;

    &::before {
      content: "";
      width: 60px;
      height: 1px;
      background: #fff;
      display: block;
      margin: 4px auto 8px auto;
    }
  }

  &__btn {
    text-align: center;
    margin-top: 80px;
  }
}
